{% extends 'base.html' %}

{% block content %}

<main class="container m-5">
  <h1 class="main-title m-3">Welcome to GoTo Recipe!</h1>

  <p class="m-3">Please Login or Register</p>

  <form method="POST" id="login_form" class="m-3">

    {{form.hidden_tag()}}

    {% for field in form if field.widget.input_type != "hidden" %}
    {% for error in field.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %}
    <div class="form-group row">
      {{ field.label(class="col-sm-2 col-form-label")}}
      <div class="col-sm-10">
        {{ field(class="form-control")}}
      </div>
    </div>
    {% endfor %}

    <button class="btn btn-primary">Login</button>
    <a href="/register" class="btn btn-secondary">To Register</a>

  </form>
</main>

{% endblock %}