{% extends 'base.html' %}

{% block content %}

<div class="container" data-id={{recipe.id}}>
  <div class="recipe-card">
    <div class="recipe-img-container">
      <img class="recipe-img card-img-top responsive" src="{{ recipe.image }}" alt="{{ recipe.title }}">
    </div>
    <div class="recipe-content">
      <h1 class="recipe-title">{{ recipe.title }}</h1>
      <p class="recipe-text">{{ recipe.summary| safe }}</p>
      <div class="btn-container">
        <a href="{{ recipe.sourceUrl }}" target=”_blank” class="btn btn-primary m-2">Full Recipe Here</a>
        <a href="/users/{{user.username}}" class="btn btn-secondary m-2">Return to Search</a>
        <a href="/users/{{user.username}}/favorites" class="btn btn-success m-2">Return to Favorites</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}