{% extends 'base.html' %}

{% block content %}

<div class="container" data-id={{recipe.id}}>
  <div class="recipe-card">
    <div class="recipe-img-container">
      <img class="recipe-img card-img-top responsive" src="{{ recipe.image }}" alt="{{ recipe.title }}">
    </div>
    <div class="recipe-content">
      <h1 class="recipe-title">{{ recipe.title }}</h1>
      <p class="recipe-text">{{ recipe.summary| safe }}</p>
      <div class="btn-container">
        <a href="{{ recipe.sourceUrl }}" target=”_blank” class="btn btn-primary m-2">Full Recipe Here</a>
        <a href="/users/{{user.username}}" class="btn btn-secondary m-2">Return to Search</a>
        <a href="/users/{{user.username}}/favorites" class="btn btn-success m-2">Return to Favorites</a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="recipe-container">
  <div class="recipe-card">
    <div class="recipe-img-container">
      <img class="recipe-img responsive" src="https://spoonacular.com/recipeImages/716429-556x370.jpg" alt="food">
    </div>
    <div class="recipe-content">
      <h1 class="recipe-title">A RECIPE TITLE GOES HERE</h1>
      <p class="recipe-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia magni, asperiores, neque ipsam
        magnam repellendus necessitatibus totam consequatur iure pariatur placeat! Quisquam amet consequuntur omnis eum
        aliquid qui voluptatibus a aut et, ipsam natus est facilis animi quaerat dolorem repudiandae, iste, quasi ipsum sunt
        beatae tempora autem? Quisquam, molestiae. Dolorem atque, nulla fuga accusantium vel quas, tenetur dolor laudantium
        amet nemo consequatur quod sit est temporibus quidem veniam, praesentium officiis. Reiciendis saepe eveniet sed,
        magnam aperiam delectus eaque. Perferendis, consectetur ex eveniet eaque unde dignissimos nam illum odio labore
        voluptatum ullam explicabo sapiente optio quis recusandae facilis, saepe molestias at.</p>
      <div class="btn-container">
        <button class="save-btn btn btn-success">Add to favorites</button>
      </div>
    </div>
  </div>
</div> -->

{% endblock %}